
<div class="container">
  <div class="mainshape">
    <h3 class="h3-main">Your Result</h3>
    <div class="circle">
      <h1>76</h1>
      <h6 class="h6-main">out of 100</h6>
    </div>
    <h2 class="after-circle">Great</h2>
    <h6 class="h5-main">You scored higher than 65% of <br>the people who have taken <br>these tests.</h6>
  </div>
  <div class="secondshape">
    <h3 class="h3-second">Summary</h3>
    <div class="shape1-2nd">
      <img class="svg1" src="assets/icon-reaction.svg" alt="">
      <h6 class="h6shape1-2nd">Reaction</h6>
    </div>
    <div class="shape2-2nd">
      <img class="svg1" src="assets/icon-memory.svg" alt="">
      <h6 class="h6shape2-2nd">Memory</h6>
    </div>
    <div class="shape3-2nd">
      <img class="svg1" src="assets/icon-verbal.svg" alt="">
      <h6 class="h6shape3-2nd">Verbal</h6>
    </div>
    <div class="shape4-2nd">
      <img class="svg1" src="assets/icon-visual.svg" alt="">
      <h6 class="h6shape4-2nd">Reaction</h6>
    </div>

  </div>
</div>
<div class="btn">
  <a class="button" href="https://facebook.com/prince.evaross" target="_blank">Continue</a>
</div>
<router-outlet />
